.vscode
__pycache__

playground
modules.rst
mwutils*.rst

*.crt
private
doc/videos/

src/package_*/*.egg-info
src/package_*/dist
src/package_updater/updater/*.exe

src/ransomware/*.db
src/ransomware/build
src/ransomware/dist/*.exe
src/ransomware/flask_session
src/ransomware/storage/*.zip